@model BanDoOnline.Models.KHACHHANG

@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .info-container {
        border: 1px solid #000;
        background-color: #ffc0cb;
        padding: 15px;
        margin-bottom: 20px;
    }

    th {
        text-align: right;
        width: 30%;
    }

    td {
        width: 70%;
    }

    .btn-container {
        text-align: center;
    }

        .btn-container .btn {
            margin: 5px;
        }

    .center-text {
        text-align: center;
    }
</style>

<div class="container info-container">
    <h2 class="center-text">Thông tin cá nhân</h2>
</div>
<div class="container info-container">
    <table class="table">
        <tr>
            <th>Họ Tên:</th>
            <td>@Html.DisplayFor(model => model.HoTen)</td>
        </tr>
        <tr>
            <th>Tài Khoản:</th>
            <td>@Html.DisplayFor(model => model.TaiKhoan)</td>
        </tr>
        <tr>
            <th>Mật Khẩu:</th>
            <td>@Html.DisplayFor(model => model.MatKhau)</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <th>Địa Chỉ:</th>
            <td>@Html.DisplayFor(model => model.DiaChi)</td>
        </tr>
        <tr>
            <th>Điện Thoại:</th>
            <td>@Html.DisplayFor(model => model.DienThoai)</td>
        </tr>
        <tr>
            <th>Ngày Sinh:</th>
            <td>@Html.DisplayFor(model => model.NgaySinh)</td>
        </tr>
    </table>

    @if (TempData["EditSuccess"] != null && (bool)TempData["EditSuccess"])
    {
        <div class="alert alert-success" role="alert">
            Thông tin đã được cập nhật thành công!
        </div>
    }

    <div class="row mt-3 btn-container">
        <div class="col-md-12">
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaKH }, new { @class = "btn btn-primary" })

            @Html.ActionLink("Details", "Details", new { id = Model.MaKH }, new { @class = "btn btn-info" })
        </div>
    </div>
</div>
